.ag-root-wrapper{
    border: 0;
}

.ag-root-wrapper-body{
    border: 1px solid #cfcfcf;
}

.ag-header{
    background-color: #95caff;
    border: none;
    padding: 2px;
    min-height: 30px !important;
}

.ag-paging-panel{
    height: 40px;
    border-top: none;
}

