html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body #root,
body #root main,
#root main section {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* .mainContent{
    width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
} */

body {
  background-color: #f7f8f9 !important;
  font-family: var(--bs-body-font-family) !important;
}

/* Dialog CSS starts */
/* header */
.MuiDialogTitle-root {
  border-bottom: 2px solid #cecdcd;
}

/* body  */
.MuiDialogContent-root {
  padding: 15px 15px !important;
}

/* footer */
.MuiDialogActions-root {
  border-top: 2px solid #e1e1e1 ;
}

/* Dialog CSS ends */

/* Swal Css Starts */
.swal2-container {
  z-index: 9999 !important;
}
.swal2-popup{
  width: 350px;
}
.swal2-title{
  font-size: 25px;
}
/* Swal Css Starts */

.globalFilter input{
  height: 15px;
  width: 150px;
}
.globalFilter label{
  line-height: 1;
}
