@use './variable.scss' as *;

/* Dialog CSS starts */
/* header */
.MuiDialogTitle-root {
  background-color: $header-color;
 border-bottom: 1px solid #001F3F;
}

/* body  */
.MuiDialogContent-root {
  padding: 30px 35px !important;
  background-color: $body-color;
}

/* footer */
.MuiDialogActions-root {
  
  border-top: 1px solid #001F3F;
  background-color: $header-color;
}

/* Dialog CSS ends */

.status {
  font-weight: 600;
  &.rejected { color: $rejected; }
  &.pending { color: $pending; }
  &.submitted { color: $submitted; }
  &.verified { color: $verified; }
  &.approved { color: $approved; }
}