@use './variable.scss' as *;

/* Dialog CSS starts */
/* header */
.MuiDialogTitle-root {
  background-color: $header-color;
  border-bottom: 2px solid #FFA500;
}

/* body  */
.MuiDialogContent-root {
  padding: 15px 15px !important;
  background-color: $body-color;
}

/* footer */
.MuiDialogActions-root {
  border-top: 2px solid #FFA500 ;
  background-color: $header-color;
}

/* Dialog CSS ends */